/*=======================================================================*/
/* Reset */

body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
   font-family: 'Roboto', sans-serif;
}

li{
    list-style-type: none;
}

/*=======================================================================*/
/** Color scheme (light-theme as default) **/

body{
    --bg-color:#fffefe;
    --chat-bg:#EEF6FC;
    --text-color: #000;
    --interest-hover:#6d85fa;
    --text-hover: #fff;
    --border-color:rgba(0,0,0,0.3);
    --menu-color: rgb(51, 45, 67);
    --logo-color:#000;
    --text-chat-bg: rgba(109, 133, 250,.7);
    --btn-color:#6d84fb;
    --modal-body:#F3FAFF;
    --btn-sec:#3A445D;
    --overlay-bg:#8BC6EC;
    --btn-grad-l:#4b6cb7;
    --btn-grad-m:#182848;
    --btn-grad-r:#4b6cb7;
}

body.dark-mode{ /*overides the light theme*/
    --bg-color:#141e30;
    --chat-bg: #252131;
    --text-color: #fff;
    --interest-hover:#2E293D;
    --border-color: rgba(255,255,255,0.3);
    --menu-color:#6d85fa;
    --logo-color:#fff;
    --text-chat-bg:rgba(93, 66, 173, .2);
    --btn-color:#7d5fd9;
    --modal-body:#564E6C;
    --btn-sec:#365181;
    --overlay-bg: #3D4B67;
    --btn-grad-l: #83a4d4;
    --btn-grad-m: #b6fbff;
    --btn-grad-r: #83a4d4;
}

/*=======================================================================*/
/* base */
.btn-grad {
    background-image: linear-gradient(to right, var(--btn-grad-l) 0%, var(--btn-grad-m)  51%, var(--btn-grad-r)  100%);
}

.btn-grad {
    margin: 15px 0;
    padding: 12px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: none;
    border-radius: 10px;
    display: block;
    font-size: 0.8em;
    letter-spacing: 0.07em;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

body.dark-mode .btn-grad{
    color: #000;
}
         
body{
    background: var(--bg-color);
    color: var(--text-color);
    position: relative;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
html {
  scroll-behavior: smooth;
}

.modal-content{
    background: var(--modal-body);
    color: var(--text-color);
}

.modal-content .modal-header button{
    color: var(--text-color);
}

.modal.show .modal-dialog{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay-bg);
    background-image: linear-gradient(135deg, var(--overlay-bg) 0%, var(--bg-color) 100%);
    opacity: .98;
    z-index: 1000; 
    cursor: pointer; 
}

div.loading-screen#overlay p{
    margin: 0; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

#overlay > div.container{
    height: 100%;
    display: grid;
    align-content: center;
}

#overlay form label {
    display: block;
    margin: 5px 0;
}

#overlay form input{
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--text-color);
    color: var(--text-color);
}

#overlay form ::-webkit-input-placeholder { /* Edge */
  color: var(--text-color);
}

#overlay form :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--text-color);
}

#overlay form ::placeholder {
  color: var(--text-color);
}

#overlay form input:focus{
    outline: none;
    box-shadow: none;
}

#overlay form button img{
    display: none;
}

#overlay form p.lead{
    font-size: 0.9em;
    margin: 10px 0;
}

#overlay form ul{
    font-size: 0.85em;
    margin: 30px 0;
    opacity: .8;
}

#overlay form ul li{
    margin-top: 5px;
}

#overlay form ul li span{
    font-weight: 900;
    font-size: 1.2em;
}

p.lead.output{
    display: none;
}

.grid{
    display: grid;
}


.title{
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 1.4em;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

p { 
    font-size: 90%;
    margin: auto 0;
}

.heading {
    font-size: 140%;
    font-weight: bolder;
    margin: 3rem 0 .2rem 0;
}

.btn-primary{
    background: var(--btn-color);
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: none;
    transition: all .15s ease-in;
}

.btn-secondary{
    background: var(--btn-sec);
}

.btn-check:focus+.btn, .btn:focus{
    box-shadow: none;
    outline: none;
}

button.btn-primary:disabled {
    opacity: .3;
    pointer-events: all;
}

section.bottom-menu label, section.bottom-menu .toggle {
    height: 2.8rem;
    border-radius: 100px;
}

section.bottom-menu label {
    width: 100%;
    background-color: rgba(0,0,0,.1);
    border-radius: 100px;
    position: relative;
    margin: 1.8rem 0 4rem 0; 
    cursor: pointer;
}

section.bottom-menu .toggle {
    position: absolute;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,.15);
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.names {
    font-size: 90%;
    font-weight: bolder;
    width: 65%;
    height: 100%;
    margin-left: 17.5%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.dark {
    opacity: .5;
}

[type="checkbox"] {
    display: none;
}

[type="checkbox"]:checked + div.content .toggle{
    transform: translateX(100%);
    background-color: #2E293D;
}
[type="checkbox"]:checked + div.dark{
        opacity: 1;
}
[type="checkbox"]:checked + div.light{
    opacity: .5;
}


section.interest div.channels button{
    display: flex;
    cursor: pointer;
    padding: 2em;
    border-bottom: 1.5px solid #ccc;
    border-radius: 10px;
    color: var(--text-color);
}


section.interest div.channels button:hover , section.interest div.channels button.selected{
    background: var(--interest-hover);
    color: var(--text-hover);
}


section.interest div.channels button span{
    margin-left: 20px;
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 0.1em;
}

section.chat-area{
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
section.chat-area svg{
    fill: var(--logo-color);
}

section.chat-area h2 span.room-name{
    font-size: 0.65em;
    text-transform: uppercase;
}

section.chat-area > div:nth-child(2){
    height: 100%;
    position: relative;
}

.alert {
    position: absolute;
    z-index: 10000;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

div.main-chat-area{
    height: 100%;
    background: var(--chat-bg);
    position: relative;
    border-radius: 12px;
    padding: 20px;
    grid-template-rows: 80% 20%;
}

div.main-chat-area div#overlay{
    display: none;
    justify-content: center;
    align-content: center;
    position: absolute;
}

div.main-chat-area p#typing{
    font-size: 0.7em;
    color: var(--text-color);
    opacity: .7;
    font-style: italic;
    margin-left: 3.5em;
}


div.user-chat{
    margin-bottom: 15px;
    background: var(--text-chat-bg);
    padding: 10px 15px;
    border-radius: 12px;
    width: 90%;
}

div.user-chat > *{
    font-family: 'Open Sans', sans-serif;
}

div.user-chat h3.username{
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: .03em;
}

div.user-chat h3.username span.time{
    font-weight: 100;
    font-size: 0.65em;
    margin-left: 10px;
    text-transform: uppercase;
}

div.user-chat p{
    font-size: .82em;
    font-weight: 200;
    word-wrap: break-word;
}

div.user-chat p a {
    text-decoration: underline;
    color: var(--text-color);
}
div.user-chat span.edited{
    font-size: .7em;
    opacity: .5;
    font-weight: 100;
    letter-spacing: .07em;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

div.user-chat div.modify a{
    font-size: .75em;
    margin-right: 10px;
    letter-spacing: .05em;
    font-weight: 200;
}

div.main-chat-area div.chat-box{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-bottom: 10px;
}

div.main-chat-area div.chat-box form{
    display: flex;
    justify-content: center;
}

div.main-chat-area div.chat-box form > *{
    margin: 0 6px 10px;
}

div.main-chat-area div.chat-box form textarea , div.user-chat  textarea{
    width: 80%;
    min-height: 50px;
    padding: 0.375rem 0.75rem;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    color: var(--text-color);
    vertical-align: bottom;
    resize: none;
}

div.user-chat textarea{
    width: 100%;
    font-size: .82em;
    min-height: 100px;
    margin-bottom: 10px;
}

div.main-chat-text{
    overflow-y: scroll;
    scrollbar-width: thin; 
    -ms-overflow-style: none; 
}

div.main-chat-text::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}

div.main-chat-text::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

div.main-chat-text::-webkit-scrollbar-thumb {
    background-color: #acacac;
}

/*=======================================================================*/
/* MOBILE STYLE */

 #overlay form{
    width: 80%;
    margin: auto;
}

main.grid{
    grid-template-rows: 80% 20%;
    height: 100vh;
    padding-top: 10px;
}

section.bottom-menu{
    grid-row-start: 2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

section.bottom-menu > div.content{
    flex: 2 2 0;
}

section.bottom-menu > div.burger-menu{
    flex: 1 1 0;
    display: block;
    height: auto;
    z-index: 10;
}


#nav-icon3{
    width: 35px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span{
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: var(--menu-color);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 16px;
}

#nav-icon3 span:nth-child(4) {
    top: 32px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.content {
    z-index: 9;
}

section.interest {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    display: grid;
    grid-auto-rows: .2fr 1.8fr;
    position: fixed;
    width: 100%; 
    height: 0;
    background-color: var(--bg-color);
    opacity:0;
    color: var(--text-color);
    z-index: -12;
    cursor: pointer;
}

section.interest.show{
    height: 100%;
    opacity: .98;
    z-index: 9;
}

section.interest h2.title{
    margin-top: 50px;
}

section.chat-area h2 span.room-name{
    display: block;
}

section.chat-area{
    height: 100%;
    grid-template-rows: 15% 85%;
}

div.main-chat-area div#overlay img{
    height: 70%;
    width: 70%;
}

.alert {
   width: 70%;
}

/*=======================================================================*/
/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) { 

    #overlay form{
        width: 50%;
    }

    main.grid{
        grid-template-rows: 20% 80%;
    }

    section.bottom-menu{
        grid-row-start: 1;
        grid-column: 1/3;
        display: block;
    }

    .content {
        position: relative;
        display: block;
        width: 70%;
        margin: auto;
    }

    section.bottom-menu > div.burger-menu{
        display: none;
    }

    section.interest{
        display: grid;
        position: relative;
        height: 100%;
        opacity: .75;
        z-index: 9;
        background: none;
    }

    main{
        grid-template-columns: 30% 70%;
        grid-column-gap: 20px;
        width: 95%;
        margin: auto;
    }
    section.interest h2.title{
        margin-top: 0px;
    }

    section.chat-area h2 span.room-name{
        display: inline-block;
    }   

    section.chat-area{
        height: 70vh;
    }

    div.main-chat-area div#overlay img{
        height: unset;
        width: unset;
    }

    
    .alert {
        width: 50%;
    }

}
